# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nouadhibou,MR,20.9310,-17.0347,73.78,81,97,20.22,overcast clouds
1,1,Victoria,HK,22.2855,114.1577,88.18,77,35,5.01,scattered clouds
2,2,Thurso,GB,58.5927,-3.5259,48.85,84,100,11.56,heavy intensity rain
3,3,Busselton,AU,-33.6500,115.3333,57.58,69,58,17.52,broken clouds
4,4,Bluff,NZ,-46.6000,168.3333,42.80,68,94,30.85,overcast clouds
5,5,Albany,US,42.6001,-73.9662,52.45,74,100,3.67,overcast clouds
6,6,Hay River,CA,60.8156,-115.7999,38.79,66,16,6.40,few clouds
7,7,Chuy,UY,-33.6971,-53.4616,53.08,89,0,5.50,clear sky
8,8,Cape Town,ZA,-33.9258,18.4232,59.38,68,45,3.04,scattered clouds
9,9,Thompson,CA,55.7435,-97.8558,45.97,55,42,3.04,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Victoria,HK,22.2855,114.1577,88.18,77,35,5.01,scattered clouds
10,10,Misratah,LY,32.3754,15.0925,75.04,62,12,12.41,few clouds
16,16,Sao Filipe,CV,14.8961,-24.4956,78.10,78,91,0.74,overcast clouds
24,24,Sao Raimundo Das Mangabeiras,BR,-7.0219,-45.4811,81.03,39,3,4.05,clear sky
26,26,Hambantota,LK,6.1241,81.1185,80.80,74,98,19.57,overcast clouds
27,27,Kapaa,US,22.0752,-159.3190,84.18,68,20,16.11,few clouds
29,29,Atuona,PF,-9.8000,-139.0333,76.84,69,40,20.83,scattered clouds
32,32,Mount Isa,AU,-20.7333,139.5000,80.37,61,100,10.36,overcast clouds
39,39,Bannu,PK,32.9854,70.6027,81.18,33,0,1.07,clear sky
48,48,Hithadhoo,MV,-0.6000,73.0833,82.47,69,100,17.49,overcast clouds

In [7]:
preferred_cities_df.count()

City_ID                208
City                   208
Country                208
Lat                    208
Lng                    208
Max Temp               208
Humidity               208
Cloudiness             208
Wind Speed             208
Current Description    208
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Victoria,HK,22.2855,114.1577,88.18,77,35,5.01,scattered clouds
10,10,Misratah,LY,32.3754,15.0925,75.04,62,12,12.41,few clouds
16,16,Sao Filipe,CV,14.8961,-24.4956,78.10,78,91,0.74,overcast clouds
24,24,Sao Raimundo Das Mangabeiras,BR,-7.0219,-45.4811,81.03,39,3,4.05,clear sky
26,26,Hambantota,LK,6.1241,81.1185,80.80,74,98,19.57,overcast clouds
27,27,Kapaa,US,22.0752,-159.3190,84.18,68,20,16.11,few clouds
29,29,Atuona,PF,-9.8000,-139.0333,76.84,69,40,20.83,scattered clouds
32,32,Mount Isa,AU,-20.7333,139.5000,80.37,61,100,10.36,overcast clouds
39,39,Bannu,PK,32.9854,70.6027,81.18,33,0,1.07,clear sky
48,48,Hithadhoo,MV,-0.6000,73.0833,82.47,69,100,17.49,overcast clouds

In [9]:
clean_travel_cities.count()

City_ID                208
City                   208
Country                208
Lat                    208
Lng                    208
Max Temp               208
Humidity               208
Cloudiness             208
Wind Speed             208
Current Description    208
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
1,Victoria,HK,88.18,scattered clouds,22.2855,114.1577
10,Misratah,LY,75.04,few clouds,32.3754,15.0925
16,Sao Filipe,CV,78.10,overcast clouds,14.8961,-24.4956
24,Sao Raimundo Das Mangabeiras,BR,81.03,clear sky,-7.0219,-45.4811
26,Hambantota,LK,80.80,overcast clouds,6.1241,81.1185
27,Kapaa,US,84.18,few clouds,22.0752,-159.3190
29,Atuona,PF,76.84,scattered clouds,-9.8000,-139.0333
32,Mount Isa,AU,80.37,overcast clouds,-20.7333,139.5000
39,Bannu,PK,81.18,clear sky,32.9854,70.6027
48,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Victoria,HK,88.18,scattered clouds,22.2855,114.1577,
10,Misratah,LY,75.04,few clouds,32.3754,15.0925,
16,Sao Filipe,CV,78.10,overcast clouds,14.8961,-24.4956,
24,Sao Raimundo Das Mangabeiras,BR,81.03,clear sky,-7.0219,-45.4811,
26,Hambantota,LK,80.80,overcast clouds,6.1241,81.1185,
27,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
29,Atuona,PF,76.84,scattered clouds,-9.8000,-139.0333,
32,Mount Isa,AU,80.37,overcast clouds,-20.7333,139.5000,
39,Bannu,PK,81.18,clear sky,32.9854,70.6027,
48,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Victoria,HK,88.18,scattered clouds,22.2855,114.1577,Mini Central
10,Misratah,LY,75.04,few clouds,32.3754,15.0925,Almasa Hotel
16,Sao Filipe,CV,78.10,overcast clouds,14.8961,-24.4956,Hotel Xaguate
24,Sao Raimundo Das Mangabeiras,BR,81.03,clear sky,-7.0219,-45.4811,Hotel Tropical
26,Hambantota,LK,80.80,overcast clouds,6.1241,81.1185,Bungalow 63
27,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Atuona,PF,76.84,scattered clouds,-9.8000,-139.0333,Villa Enata
32,Mount Isa,AU,80.37,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
39,Bannu,PK,81.18,clear sky,32.9854,70.6027,Oxford Hostel
48,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [15]:
hotel_df.count()

City                   208
Country                208
Max Temp               208
Current Description    208
Lat                    208
Lng                    208
Hotel Name             208
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].str.strip().astype(bool)]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Victoria,HK,88.18,scattered clouds,22.2855,114.1577,Mini Central
10,Misratah,LY,75.04,few clouds,32.3754,15.0925,Almasa Hotel
16,Sao Filipe,CV,78.10,overcast clouds,14.8961,-24.4956,Hotel Xaguate
24,Sao Raimundo Das Mangabeiras,BR,81.03,clear sky,-7.0219,-45.4811,Hotel Tropical
26,Hambantota,LK,80.80,overcast clouds,6.1241,81.1185,Bungalow 63
27,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Atuona,PF,76.84,scattered clouds,-9.8000,-139.0333,Villa Enata
32,Mount Isa,AU,80.37,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
39,Bannu,PK,81.18,clear sky,32.9854,70.6027,Oxford Hostel
48,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [17]:
hotel_df.count()

City                   208
Country                208
Max Temp               208
Current Description    208
Lat                    208
Lng                    208
Hotel Name             208
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [18]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [22]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [23]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [24]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 88.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Almasa Hotel</dd>\n<dt>City</dt><dd>Misratah</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tropical</dd>\n<dt>City</dt><dd>Sao Raimundo Das Mangabeiras</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Mt Isa Verona</dd>\n<dt>City</dt><dd>Mount Isa</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oxford Hostel</dd>\n<dt>City</dt><dd>Bannu</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.47 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [25]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   22.2855  114.1577
10  32.3754   15.0925
16  14.8961  -24.4956
24  -7.0219  -45.4811
26   6.1241   81.1185
27  22.0752 -159.3190
29  -9.8000 -139.0333
32 -20.7333  139.5000
39  32.9854   70.6027
48  -0.6000   73.0833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [26]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))